<section class="info">
  <div class="container">
    <div class="row">
      <div class="panel panel-info">
        <div class="panel-heading">
          <h3 class="panel-title">Description</h3>
        </div>
        <div class="panel-body">
          <p>Difficulty: <%= @game.settings %></p>
          <p>Attempts: <%= @game.max_attempts %></p>
          <p>Symbols count: <%= @game.symbols_count %></p>
          <p>Symbols range: 1-<%= @game.symbols_range.to_s(16) %></p>
          <p>Hints: <%= @game.hints_left %></p>
        </div>
      </div>
    </div>
  </div>
</section>

<section class="state">
  <div class="container">
    <div class="row">
      <div class="panel panel-success">
        <div class="panel-heading">
          <h3 class="panel-title">State</h3>
        </div>
        <div class="panel-body">
          <p>Attempts left: <span id="attempts_left"><%= @game.attempts %></span></p>
          <p>Hints left: <span id="hints_left"><%= @game.hints_left %></span></p>
        </div>
      </div>
    </div>
  </div>
</section>

<% if @error %>
  <div class="container">
    <div class="row">
      <div class="alert alert-danger" role="alert">
        <strong>Error!</strong> <%= @error %>
      </div>
    </div>
  </div>
<% end %>

<section class="guessing">
  <div class="container">
    <div class="row">
      <div class="panel panel-primary">
        <div class="panel-heading">
          <h3 class="panel-title">Guessing</h3>
        </div>
        <div class="panel-body">
          <form action="/guess" class="form-inline">
            <div class="form-group">
              <input autocomplete="off" type="text" class="form-control" name="code" placeholder='<%= "#{@game.symbols_range.to_s(16)}"*@game.symbols_count %>'>
            </div>
            <button type="submit" class="btn btn-primary">Submit</button>
            <a href="/hint" class="btn btn-danger">Hint!</a>
          </form>

          <table class="table table-hover">
            <thead>
              <tr>
                <th>Attempt</th>
                <th>Code</th>
                <th>Response</th>
              </tr>
            </thead>
            <tbody>
              <% unless @attempts.empty? %>
                <% @attempts.reverse.each.with_index do |attempt, i| %>
                  <% if i.zero? %>
                    <tr>
                      <td id="last_attempt">
                        <strong> <%= attempt.number %>. </strong>
                      </td>
                      <td id="last_code">
                        <strong> <%= attempt.type %> </strong>
                      </td>
                      <td id="last_response">
                        <strong> <%= attempt.response %> </strong>
                      </td>
                    </tr>
                  <% else %>
                  <tr>
                    <td><%= attempt.number %>.</td>
                    <td><%= attempt.type %></td>
                    <td><%= attempt.response %></td>
                  </tr>
                  <% end %>
                <% end %>
              <% else %>
                <tr>
                  <td colspan='3'>
                    <p><center><i>No guesses yet.</i></center></p>
                  </td>
                </tr>
              <% end %>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</section>
