<!DOCTYPE html>
<html>
  <head>
    <title>sarcasm-codebreaker</title>
    <link rel="stylesheet" href="/stylesheets/normalize.css" type="text/css">
    <link rel="stylesheet" href="/stylesheets/bootstrap.min.css" type="text/css">
    <link rel="stylesheet" href="/stylesheets/main.css" type="text/css">
  </head>
  <body>
    <nav class="navbar navbar-default navbar-fixed-top">
      <div class="container-fluid">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="/">SarCasm-CodeBreaker</a>
        </div>
        </div><!-- /.navbar-collapse -->
      </div><!-- /.container-fluid -->
    </nav>


    <section class="info">
      <div class="container">
        <div class="row">
          <div class="panel panel-info">
            <div class="panel-heading">
              <h3 class="panel-title">Description</h3>
            </div>
            <div class="panel-body">
              <p>Difficulty: <%= game.settings %></p>
              <p>Attempts: <%= game.max_attempts %></p>
              <p>Symbols count: <%= game.symbols_count %></p>
              <p>Symbols range: 1-<%= game.symbols_range.to_s(16) %></p>
              <p>Hints: <%= game.hints_left %></p>
            </div>
          </div>
        </div>
      </div>
    </section>

    <section class="state">
      <div class="container">
        <div class="row">
          <div class="panel panel-success">
            <div class="panel-heading">
              <h3 class="panel-title">State</h3>
            </div>
            <div class="panel-body">
              <p>Attempts left: <%= game.attempts %></p>
              <p>Hints left: <%= game.hints_left %></p>
            </div>
          </div>
        </div>
      </div>
    </section>

    <% if error %>
      <div class="container">
        <div class="row">
          <div class="alert alert-danger" role="alert">
            <strong>Error!</strong> <%= error %>
          </div>
        </div>
      </div>
    <% end %>

    <section class="guessing">
      <div class="container">
        <div class="row">
          <div class="panel panel-primary">
            <div class="panel-heading">
              <h3 class="panel-title">Guessing</h3>
            </div>
            <div class="panel-body">
              <form action="/guess" class="form-inline">
                <div class="form-group">
                  <input autocomplete="off" type="text" class="form-control" name="code" placeholder='<%= "#{game.symbols_range.to_s(16)}"*game.symbols_count %>'>
                </div>
                <button type="submit" class="btn btn-primary">Submit</button>
                <a href="/hint" class="btn btn-danger">Hint!</a>
              </form>

              <table class="table table-hover">
                <thead>
                  <tr>
                    <th>Attempt</th>
                    <th>Code</th>
                    <th>Response</th>
                  </tr>
                </thead>
                <tbody>
                  <% if play_cookies %>
                    <% play_cookies.reverse.each.with_index do |x, i| %>
                      <% if i.zero? %>
                        <tr>
                          <td><strong><%= x[0] %>.</strong></td>
                          <td><strong><%= x[1] %></strong></td>
                          <td><strong><%= x[2] %></strong></td>
                        </tr>
                      <% else %>
                      <tr>
                        <td><%= x[0] %>.</td>
                        <td><%= x[1] %></td>
                        <td><%= x[2] %></td>
                      </tr>
                      <% end %>
                    <% end %>
                  <% else %>
                    <tr>
                      <td colspan='3'>
                        <p><center><i>No guesses yet.</i></center></p>
                      </td>
                    </tr>
                  <% end %>
                </tbody>
              </table>
            </div>
          </div>
        </div>
      </div>
    </section>
  </body>
</html>
